@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

body {
    background-color: #071013;
    color: #ebebeb;
    text-align: center;
    font-family: "Rubik Mono One", "sans-serif"
}

.hidden {
    display: none;
}

.title-section {
    padding: 20px 0px;
}

.btn {
    font-size: 2em;
    opacity: 0;
    margin-top: 170px;
    position: absolute;
    top: 0px;
    width:200px;
    margin-left:-100px;
}

#game-title {
    font-size: 1.7em;
    opacity: 0;
}

#main-section {
    display: flex;
    justify-content: center;
}

#simon-main {
    list-style: none;
    padding: 0;
}

.red-circle {
    border: 10px solid red;
}

.blue-circle {
    border: 10px solid blue;
}

.green-circle {
    border: 10px solid green;
}

.yellow-circle {
    border: 10px solid yellow;
}

li {
display: none;
float: left;
margin: 50px;
width: 200px;
height: 200px;
border-radius: 100px;
}

@media (min-width: 768px) {
    .title-section {
        padding: 50px 0px;
    }

    #game-title {
        font-size: 3em
    }

    .btn {
        font-size: 5em;
        margin-top: 220px;
        width:420px;
        margin-left: 0;
    }

}

@media (min-width: 992px) {}
li {
width: 250px;
    height: 250px;
    border-radius: 125px;
}

#simon-main {
    max-width: 700px;
}