@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@font-face {
    font-family: "Squada One";
    src: url('../lib/fonts/SquadaOne-Regular.ttf');
}

body {
    background-color: #071013;
    color: #ebebeb;
    text-align: center;
    font-family: "Rubik Mono One", "Squada One", "sans-serif";
}

.modal-content {
    color: #071013;
}

.warning {
    display: none;
    position: absolute;
    font-size: 2em;
    top: 70vh;
}

#logo {
    display: none;
    position: absolute;
    max-height: 80vh;
    max-width: 100%;
    top: 10%;
}

.speedControl {
    display: none;
    font-size: .8em;
    margin: 10px;
    margin-top: 390px;   
}

.hidden {
    display: none;
}

.title-section {
    padding: 20px 0px;
}

.clicker {
    display: none;
}

#start-game {
    display: none;
    margin-top: 170px;
    position: absolute;
    top: 0px;
    width: 200px;
    font-size: 2em;
}

#reset {
    margin-top: 20px;
}

.btn {
    font-size: 2em;
}

#game-title {
    font-size: 1.7em;
    display: none;
}

#main-section {
    display: flex;
    justify-content: center;
}

#simon-main {
    list-style: none;
    padding: 0;
}

#red {
    border: 10px solid #DF2833;
}

#blue {
    border: 10px solid #0034FF;
}

#green {
    border: 10px solid #018E42;
}

#yellow {
    border: 10px solid #F7D002;
}

#red.jqhover {
    border: 10px solid #ff0000;
    background-color: #DF2833;
    box-shadow: 0 0 45px 10px #DF2833;
}

#blue.jqhover {
    border: 10px solid #1500ff;
    background-color: #0034FF;
    box-shadow: 0 0 45px 10px #0034FF;
}

#green.jqhover {
    border: 10px solid #00d620;
    background-color: #018E42;
    box-shadow: 0 0 45px 10px #018E42;
}

#yellow.jqhover {
    border: 10px solid #ffff00;
    background-color: #F7D002;
    box-shadow: 0 0 45px 10px #F7D002;
}

#levelNo {
    display: none;
    position: absolute;
}


li {
    display: none;
    float: left;
    margin: 37px;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

#clickCounter {
    font-size: 2em;
}

@media (min-width: 768px) {
    .title-section {
        padding: 50px 0px;
    }

    #start-game {
        font-size: 5em;
        margin-top: 220px;
        width: 420px;
        margin-left: 0;
    }

    .warning {
        font-size: 3em;
    }

    #game-title {
        font-size: 3em
    }

    .btn {
        font-size: 5em;
        margin-top: 220px;
        width: 420px;
        margin-left: 0;
    }

    li {
        width: 140px;
        height: 140px;
        border-radius: 70px;
    }

    .speedControl {
        font-size: 1.5em;
    }

}

@media (min-width: 992px) {

li {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

#simon-main {
    max-width: 700px;
}
#levelNo {
    left: 40%;
    top: 45%;
}


}

@media (min-width: 1025px) {
    #logo {
        top: -55px;
    }
    }